$body-color: #f1f3f6;

//Buttons
$default-btn-bgcolor: #4973ff;
$edit-btn-bgcolor: #e69705;
$delete-btn-bgcolor: #eb0808;

//Text
$default-color: #fff;
$fieldset-color: #e9e9e9;
$title-color: #aaa;
$table-color: #949494;

//Borders
$title-border-color: #e4e6e9;
$title-horizontal-line-color: #edeff2;
$tab-border-color: #ebeced;
$table-border-color: #ebebeb;

//Else
$tab-bgcolor: #fff;
$table-header-bgcolor: #f1f3f6;
